body {
    max-width: 100vw;
    min-height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #8dd4bf;

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 42, 73);

    h1 {
        font-family: monospace;
        font-weight: lighter;
        font-size: 3rem;
    }

    button {
        width: 8rem;
        height: 2rem;

        appearance: none;
        outline: none;

        background: #acd1da;
        border: 1px solid #6399a7;
        border-radius: 0.33rem;

        color: rgb(96, 113, 161);
        transition: all ease-in-out 200ms;
        cursor: pointer;

        &:hover {
            background: #bbdee7;
            border: 1px solid #7ba3ad;
        }
    }

    #answers {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        button {
            margin: 0 0.5rem;
        }
    }

    p {
        max-width: 90vw;
    }
}
